/*
.title-card-screen {
  display: flex;
  justify-content: center;
  h1 {
    color: $dark;
    font-weight: bold;
    font-size: 40px;
    margin-top: -1px;
  }
}

.title-card-screen1 {
  display: flex;
  justify-content: left;

  h1 {
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 15px;
  }
}
*/

/*
.button-hover {
  color: $darkgrey;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    color: $hover-blue;
    cursor: pointer;
  }
}
*/
