  <h1>{{title}}</h1>
  <div class="row">
    <div class="column f-2">
        <mat-form-field  appearance="standard">
            <mat-label>Username</mat-label>
            <input matInput readonly [(ngModel)]="person.username"/>
        </mat-form-field>
    </div>
    <div class="column f-2">
        <mat-form-field appearance="standard">
            <mat-label>SAGA</mat-label>
            <input matInput [(ngModel)]="person.saga" *ngIf="data.create"/>
            <input matInput [(ngModel)]="person.saga" *ngIf="!data.create" readonly/>
        </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="column f-2">
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="person.name" required/>
            <mat-error>This field cannot be empty</mat-error>
        </mat-form-field>
    </div>
    <div class="column f-2">
        <mat-form-field appearance="standard">
            <mat-label>Lastname</mat-label>
            <input matInput [(ngModel)]="person.lastname" required/>
            <mat-error>This field cannot be empty</mat-error>
        </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="column f-2">
        <mat-form-field appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput type="email" required [(ngModel)]="person.email"/>
            <mat-error>This field cannot be empty</mat-error>
        </mat-form-field>
    </div>
    <div class="column f-2">
        <mat-form-field class="selector" appearance="standard">
            <mat-label>Center</mat-label>
            <mat-select [(value)]="selectedCenter">
              <mat-option
              *ngFor="let option of centers"
                [value]="option">
                {{ option.name }}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
  </div>
  <div class="buttons">
    <button primary class="button" (click)="buttonSelect('create')"  *ngIf="data.create">
      Create
    </button> 
    <button primary class="button" (click)="buttonSelect('update')"  *ngIf="!data.create">
      Update
    </button>
    <button  secondary class="button" (click)="buttonSelect('close')"  *ngIf="!data.create">
      Close
    </button>
  </div>
  <div class="loadWrapper" *ngIf="isloading">
    <mat-spinner></mat-spinner>
  </div>
  

