<div class="calendar-wrapper">	 
	<div class="calendar-header">
		<h1>{{monthName[month-1]}}, {{ year }}</h1>
	</div>
	<div class="calendar-data">
		<div *ngFor="let day of week" class="day-name">{{day | slice:0:3}}</div>
		<div class="day" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'" *ngFor="let day of monthSelect;let first = first">
		<div *ngIf="day.indexWeek == 1 || day.indexWeek == 2 ||day.indexWeek == 3 ||day.indexWeek == 4 ||day.indexWeek == 5">{{day.value}}</div>
		<div style= "background: rgb(194, 194, 204)" *ngIf="day.indexWeek == 6 || day.indexWeek == 7 ">{{day.value}}</div>
		</div>
	</div>
</div>
