@import "./src/assets/scss/master";
  
.calendar-wrapper{
  flex: 1;
  margin: 20px 0px 0px 0px;
  padding: 0.5rem;
  border: solid 1px #f7f7f7;
  box-shadow: 0 0 10px #e4e4e4;
  width: 290px;
  height: 200px;
  background-color: #ffffff
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  h1 {
    font-weight: bold;  
    width: 100%;
    font-size: 15px;
    margin: 0px;
  }
}

.calendar-data {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0;
  padding: 0;
}
     
.day-name {
  background: #eee;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 2px;
  padding: 0px;
  text-align: center;
}
div[class*="absence"]:hover {background-color: #a3a3ad!important; cursor: pointer;}
div[class*="absence"]:active {
  background-color: #a3a3ad!important;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.normal:hover {background-color: #a3a3ad!important; cursor: pointer;}
.normal:active {
  background-color: #a3a3ad!important;
  box-shadow: 0 5px #666!important;
  transform: translateY(2px)!important;
}


.F-absence{
  background-color: #aae3ff !important;
}

.A-absence, .P-absence{
  background-color: #ffffaa!important;
}
    
    
    
  