<div class="wrapper-calendar">
	
	<div class="header-calendar">
		<h1>{{month.name}}, {{ year }}</h1>
	</div>
	<div>
		<div>
		<tr>
			<div *ngFor="let day of week" class="day-name">{{day | slice:0:3}}</div>
		</tr>		
		<tr>
			<div class="day" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
			*ngFor="let day of monthSelect;let first = first">
			<div *ngIf="day.indexWeek == 1 || day.indexWeek == 2 ||day.indexWeek == 3 ||day.indexWeek == 4 ||day.indexWeek == 5">{{day.value}}</div>
			<div style= "background: rgb(194, 194, 204)" *ngIf="day.indexWeek == 6 || day.indexWeek == 7 ">{{day.value}}</div>
			</div>
		</tr>
		</div>
	</div>
</div>

<!-- <div class="wrapper-calendar">
	<div class="header-calendar">
		<h1>{{dateSelect | date:'MMMM, yyyy'}}</h1>
	</div>
	<div>
		<tr>
		<th *ngFor="let day of week" class="day-name">{{day | slice:0:3}}</th>
		</tr>

		<tr>
        <th [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
         *ngFor="let day of monthSelect;let first = first">
		<div>
		 <span *ngIf="day.indexWeek == 1 || day.indexWeek == 2 ||day.indexWeek == 3 ||day.indexWeek == 4 ||day.indexWeek == 5">{{day.value}}</span>
		 <span style= "background: blue" *ngIf="day.indexWeek == 6 || day.indexWeek == 7 ">{{day.value}}</span>
		</div>
		</th>
	</tr>
	</div>
</div> -->


<!--<div class="wrapper-calendar">
	<div class="header-calendar">
		<h1>{{dateSelect | date:'MMMM, yyyy'}}</h1>
	</div>
	<ol>
		<li *ngFor="let day of week" class="day-name">{{day | slice:0:3}}</li>

        <li [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
         *ngFor="let day of monthSelect;let first = first">
			<span>{{day?.value}}</span>
		</li>
	</ol>

	{% if isWeekend(day?) == true %}
		 <span style="color: red">{{day?.value}}</span>
		 {% else %}
		 <span style="color: blue">{{day?.value}}</span>
		 {% endif %}
</div>-->
