@import "./src/assets/scss/master";

.container{
  border: 2px solid rgb(255, 0, 0);
  width: auto;
  height: auto;
}
.formMembers{
  border: 2px solid rgb(255, 255, 0);
  width: 30em;
  height: auto;
}
.formManagers{
  border: 2px solid rgb(0, 255, 0);
  width: 30em;
  height: auto;
}
.formSubgroups{
  border: 2px solid rgb(0, 255, 255);
  width: 30em;
  height: auto;
}
#zona-config{
  display: flex;
  flex-flow: row wrap;
}
#zona-config-izq{
  display: flex;
  flex-flow: column;
  float: left;
  width: 50%;
}
#zona-config-der{
  float: right;
  display: flex;
  flex-flow: column;
  width: 50%;
  height: fit-content;
}
#zona-members{
  max-height: 50%;
}
#zona-subgroups{
  max-height: 50%;
}
button{
  float:right;
}
