<div class="container">
  <div class="titulo">
    <h1>Edit Group</h1>
  </div>

  <div class="form-nombre">
    <mat-form-field>
      <input matInput placeholder="Group name" [(ngModel)]="this.titulo">
    </mat-form-field>
  </div>

  <div class="zona-config">

    <div class="zona-config-izq">
      <mat-form-field class="input-form">
        <input matInput placeholder="Members: search person" aria-label="State" [matAutocomplete]="autocompleteMembers" [formControl]="searchMembersCtrl">
        <mat-autocomplete #autocompleteMembers="matAutocomplete">
          <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let member of persons" [value]="member.username" (click)="addMember(member)">
              <span>{{member.name}} {{member.lastname}} (<i><b>{{member.username}}</b></i>)</span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
      <mat-list class="lista-doble">
        <mat-list-item *ngFor="let member of members">
          <mat-icon [ngStyle]="{'color':'grey'}" (click)="deleteMember(this.member)">delete_forever</mat-icon>
          <span>{{member.name}} {{member.lastname}}</span>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="zona-config-der">
      
      <mat-form-field class="input-form">
        <input matInput placeholder="Administrators: search person" aria-label="State" [matAutocomplete]="autocompleteManagers" [formControl]="searchManagersCtrl">
        <mat-autocomplete #autocompleteManagers="matAutocomplete">
          <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let manager of persons" [value]="manager.username" (click)="addManager(manager)">
              <span><b>{{manager.username}}</b> ({{manager.name}} {{manager.lastname}})</span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>

      <mat-list class="lista">
        <mat-list-item *ngFor="let manager of managers">
          <mat-icon [ngStyle]="{'color':'grey'}" (click)="deleteManager(this.manager)">delete_forever</mat-icon>
          <span>{{manager.name}} {{manager.lastname}}</span>
        </mat-list-item>
      </mat-list>

      <mat-form-field class="input-form">
        <input matInput placeholder="Subgroups: search groups" aria-label="State" [matAutocomplete]="subgrupos" [formControl]="searchSubgroupsCtrl">
        <mat-autocomplete #subgrupos="matAutocomplete">
          <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let subgroup of groups" [value]="subgroup.name" (click)="addSubgroup(subgroup)">
              <span><b>{{subgroup.name}}</b></span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>

      <mat-list class="lista">
        <mat-list-item *ngFor="let subgroup of subgroups" >
          <mat-icon [ngStyle]="{'color':'grey'}" (click)="deleteSubgroup(this.subgroup)">delete_forever</mat-icon>
          <span>{{subgroup.name}}</span>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div class="zona-botones">
    <button *ngIf="data.readOnly == false" primary (click)="onSave()">Save</button>
    <button *ngIf="data.readOnly == false" secondary (click)="cerrar()">Close</button>
    <button *ngIf="data.readOnly == true" primary (click)="cerrar()">Close</button>
  </div>
</div>

<div class="loadWrapper" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
