@import "./src/assets/scss/master";

.container{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.formManagers{
  width: 40em;
}
.formMembers{
  width: 40em;
}
.formSubgroups{
  width: 40em;
}

#zona-config-izq{
  float: left;
  width: 50%;
}
#zona-config-der{
  float: right;
  width: 50%;
}
#zona-members{
  overflow-y: scroll;
  margin: 1px;
}
#zona-managers{
  height: 240px;
  margin: 1px;
}
#zona-subgroups{
  height: 240px;
  margin: 1px;
}
#zona-config-der mat-list{
  overflow-y: scroll;
  overflow-x: auto;
  height: 190px;
}
#zona-config-izq mat-list{
  overflow-y: scroll;
  height: 400px;
}
mat-icon{
  cursor: pointer;
}
button {
  width: 150px;
  margin: 15px;
}
#zona-botones{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
