<div class="container">
  <div id="zona-titulo">
    <h2><input matInput placeholder="Titulo" aria-label="State" [matAutocomplete]="auto"></h2>
  </div>
  <div id="zona-config">
    <div id="zona-config-izq">
      <mat-form-field>
        <input matInput placeholder="Buscar managers" aria-label="State" [matAutocomplete]="auto" [formControl]="searchManagersCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let manager of persons" [value]="manager.name" (click)="addManager(manager)">
              <span><b>{{manager.username}}</b> ({{manager.name}} {{manager.lastname}})</span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
      <br>
      <ng-container *ngIf="errorMsg; else elseTemplate">
        {{errorMsg}}
      </ng-container>
      <ng-template #elseTemplate>
        <mat-nav-list>
          <mat-list-item *ngFor="let manager of managers">
             <a matLine href="...">{{ manager }}</a>
             <button mat-icon-button (click)="deleteManager(manager)">
                <mat-icon>info</mat-icon>
             </button>
          </mat-list-item>
        </mat-nav-list>
      </ng-template>
    </div>
    <div id="zona-config-der">
      <div id="zona-members">
        <mat-form-field>
          <input matInput placeholder="Buscar miembros" aria-label="State" [matAutocomplete]="auto" [formControl]="searchMembersCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let member of persons" [value]="member.name" (click)="addMember(member)">
                <span><b>{{member.id}}</b> ({{member.name}} {{member.lastname}}) (click)="deleteMember(member)" </span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div id="zona-subgroups">
        <mat-form-field>
          <input matInput placeholder="Buscar subgrupos" aria-label="State" [matAutocomplete]="auto" [formControl]="searchSubgroupsCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let subgroup of groups" [value]="subgroup.name" (click)="addSubgroup(subgroup)">
                <span><b>{{subgroup.name}}</b></span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
