@import "./src/assets/scss/master";

.container{
  width: 80em;
}

#zona-titulo{
  width: 100%;
}
#zona-config{
  display: flex;
  flex-flow: row wrap;
}
#zona-config-izq{
  display: felx;
  flex-flow: column;
  float: left;
  box-shadow: 1px;
  width: 45%;
}
#zona-config-der{
  float: right;
  display: felx;
  flex-flow: column;
  width: 45%;
  height: 30em;
}
#zona-members{
  height: 50%;
}
#zona-subgroups{
  height: 50%;
}
