<nav>
  <mat-nav-list>
    <a mat-list-item routerLinkActive="item-active" routerLink="/main">
      <span>My Calendar</span>
    </a>
    <a *ngIf="authService.isGestor()" mat-list-item routerLinkActive="item-active" routerLink="/listado-grupos">
      <span>My Groups</span>
    </a>
    <a *ngIf="authService.isGestor() == false" mat-list-item routerLinkActive="item-active" (click)="gruposAlert()">
      <span>My Groups</span>
    </a>
    <a *ngIf="authService.isGestor()" mat-list-item routerLinkActive="item-active" routerLink="/forecast">
      <span>Forecast</span>
    </a>
    <a *ngIf="authService.isGestor()" mat-list-item routerLinkActive="item-active" routerLink="/listado-centros-festivos">
      <span>Centers</span>
    </a>
    <a mat-list-item href="mailto:adcsd.internal.support@capgemini.com?subject=[TeamManager] Consulta / Feedback">
      <span>Feedback</span>
    </a>
  </mat-nav-list>
</nav>
