<div class="container">
  <nav>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="item-active" routerLink="/calendar">
        <span>My Calendar</span>
      </a>
      <a *ngIf="authService.isGestor()" mat-list-item routerLinkActive="item-active" routerLink="/groups">
        <span>My Groups</span>
      </a>
    <a *ngIf="authService.isGestor() == false" mat-list-item routerLinkActive="item-active" (click)="gruposAlert()">
      <span>My Groups</span>
    </a>
    <a *ngIf="authService.isGestor() || authService.withPublicGroups()" mat-list-item routerLinkActive="item-active" routerLink="/forecast">
      <span>Forecast</span>
    </a>
    <a *ngIf="authService.isGestor()" mat-list-item routerLinkActive="item-active" routerLink="/festives">
      <span>Festives</span>
    </a>
    <a *ngIf="authService.isAdmin()" mat-list-item  [matMenuTriggerFor]="menu">
      <span >Inconsistencies</span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item  routerLinkActive="item-active" routerLink="/inconsistencies" [queryParams]="{prop: 'basic'}">Person List</button>
        <button mat-menu-item  routerLinkActive="item-active" routerLink="/inconsistencies" [queryParams]="{prop: 'notDb'}">Person not on DB</button>
        <button mat-menu-item routerLinkActive="item-active" routerLink="/inconsistencies" [queryParams]="{prop: 'center'}">Person without Center</button>
        <button mat-menu-item routerLinkActive="item-active" routerLink="/inconsistencies" [queryParams]="{prop: 'saga'}">SAGA or Username duplicated</button>
      </mat-menu>
    </a>
    <a mat-list-item href="mailto:adcsd.internal.support@capgemini.com?subject=[TeamManager] Consulta / Feedback">
      <span>Feedback</span>
    </a>
  </mat-nav-list>
</nav>
<div class="space"></div>
<div class="fixed-container">client ({{frontVersion}})&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;server ({{backVersion}})</div>
</div>
