@import "./src/assets/scss/master";

#container {
  height: 100vh;
  width: 100vw;
  display: inline-flex;
  flex-basis: 50%;
}

#login-left {
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to bottom right,
      $fill-blue 0%,
      $primary 0%);
  display: flex;
  justify-content: center;

  div {
    width: 100%;
    height: 100%;
    display: flex;

    img {
      max-width: 40%;
      margin: auto;
      opacity: 0.8;
      position: relative;
    }
  }
}

#login-right {
  width: 50%;
  height: 100%;
  background-color: $white;
  justify-content: center;
  flex: 1;
  display: flex;

  #card {
    width: 40%;

    #header {
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 300px;
        opacity: 1;
      }
    }

    #login-card {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      mat-form-field{
        width: 100%;
      }
      input:-moz-autofill {
        box-shadow: 0 0 0px 1000px #fff inset;
      }

      input:-webkit-autofill {
        box-shadow: 0 0 0px 1000px #fff inset;
      }

      button {
        margin-top: 20px;
      }
    
    }  
  }
}


.support {
  margin-top: 25px;
  width: 425px;
  left: -50px;
  position: relative;
  color: #909090;

  a {
    color: #707099;
  }
}