@import './../../../../assets/scss/master';

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 25px;
    
    mat-radio-button {
        margin: 10px 0px;
    }
}

.buttonAction{
    margin-right: 10px;
}
  
.botones {
    text-align: right;
}

