<div>
    <div class="center">
        <div style="display:flex; flex-direction: row; flex:1">
            <div style="display:flex; flex-direction: column; width: 125px">
                <div style="display:flex; flex-direction: row;">
                    <div class="legend" style="background-color: #aae3ff;"></div>
                    <div>Festive</div>
                </div>
                <div style="display:flex; flex-direction: row;">
                    <div class="legend" style="background-color: #ffffaa;"></div>
                    <div>Vacations</div>
                </div>
            </div>
            <div style="display:flex; flex-direction: column; width: 125px">
                <div style="display:flex; flex-direction: row;">
                    <div class="legend" style="background-color: rgb(194, 194, 204);"></div>
                    <div>Weekend</div>
                </div>
                <div style="display:flex; flex-direction: row;">
                    <div class="legend" style="background-color: #F7BD46;"></div>
                    <div>Others</div>
                </div>
            </div>
 
            <div style="display:flex; flex-direction: column; width: 200px">
                <div style="display:flex; flex-direction: row;">
                    <div class="legend-day">(xx)</div>
                    <div>Effective working days</div>
                </div>
            </div>
 
        </div>
        <div style="display:flex; flex-direction: row;text-align: center;">
            <mat-form-field style="width: 100px">
                <mat-label>Selected Year</mat-label>
                <mat-select [(ngModel)]=year (selectionChange)="getAbsences()">
                    <mat-option [value]="actualYear-1">{{actualYear-1}}</mat-option>
                    <mat-option [value]="actualYear" selected>{{actualYear}}</mat-option>
                    <mat-option [value]="actualYear+1">{{actualYear+1}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div style="flex:1;text-align: center; margin-left: 25px;">
                <mat-form-field *ngIf="!updateDisabled" style="width: 100px">
                    <mat-label>Selected inactivity</mat-label>
                    <mat-select [(ngModel)]=inactivityType>
                        <mat-option [value]="holiday" selected>Holiday</mat-option>
                        <mat-option [value]="other">Other</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        
        <div style="flex:1;text-align: right;align-self: center;">
            <button *ngIf="canSave==true" mat-button primary [disabled]="updateDisabled" (click)="saveAbsences()">Update</button>
            <span *ngIf="canSave==false"><i>* Inactivities are read from PON every 3 hours.</i></span>
        </div>
    </div> 
	<div class= "calendar">
		<app-month-calendar [year]=year month=1 [absences]=absences[1] (newAbsence)="addNewAbsence($event)"></app-month-calendar>
		<app-month-calendar [year]=year month=2 [absences]=absences[2] (newAbsence)="addNewAbsence($event)"></app-month-calendar>
		<app-month-calendar [year]=year month=3 [absences]=absences[3] (newAbsence)="addNewAbsence($event)"></app-month-calendar>
    	<app-month-calendar [year]=year [month]=4 [absences]=absences[4] (newAbsence)="addNewAbsence($event)"></app-month-calendar>
		<app-month-calendar [year]=year [month]=5 [absences]=absences[5] (newAbsence)="addNewAbsence($event)"></app-month-calendar>
		<app-month-calendar [year]=year [month]=6 [absences]=absences[6] (newAbsence)="addNewAbsence($event)"></app-month-calendar>
		<app-month-calendar [year]=year [month]=7 [absences]=absences[7] (newAbsence)="addNewAbsence($event)"></app-month-calendar>
		<app-month-calendar [year]=year [month]=8 [absences]=absences[8] (newAbsence)="addNewAbsence($event)"></app-month-calendar>
		<app-month-calendar [year]=year [month]=9 [absences]=absences[9] (newAbsence)="addNewAbsence($event)"></app-month-calendar>
		<app-month-calendar [year]=year [month]=10 [absences]=absences[10] (newAbsence)="addNewAbsence($event)"></app-month-calendar>
		<app-month-calendar [year]=year [month]=11 [absences]=absences[11] (newAbsence)="addNewAbsence($event)"></app-month-calendar>
		<app-month-calendar [year]=year [month]=12 [absences]=absences[12] (newAbsence)="addNewAbsence($event)"></app-month-calendar>
	</div>
</div>
<div class="loadWrapper" *ngIf="isloading">
    <mat-spinner></mat-spinner>
</div>
    
  
