@import "./src/assets/scss/master";
@import "./src/assets/scss/spinner";

.center {
  text-align: center;
}

.calendar {
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  flex-wrap: wrap;
  width: 100%;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
    
    
    
app-month-calendar {
  flex: 1;
  text-align: -webkit-center;
  flex-basis: 25%;
}
    
  
    

  