@import "./src/assets/scss/master";

.center {
  display: flex;
}

.legend {
  width:24px; 
  height:16px; 
  margin: 2px 10px 0px 0px; 
  background-color: #ffffaa; 
  border: 1px #bebebe solid;
}

.legend-day {
  width:24px; 
  height:16px; 
  margin: 0px 10px 0px 0px; 
  font-style: italic;
}

.calendar {
  display: flex;
  flex-direction: row;
  flex-grow: 4;
  flex-wrap: wrap;
  width: 100%;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

app-month-calendar {
  flex: 1;
  text-align: -webkit-center;
  flex-basis: 25%;
}
    
  
    

  