<div class="bodyAlert">
    <h1 mat-dialog-title>Excel Type</h1>
    <div id="zona-botones">
        <mat-radio-group class="radio-group" aria-label="Select an option" [(ngModel)]="type">
            <mat-radio-button value="1" checked >Sheet per month</mat-radio-button>
            <mat-radio-button value="2">All in One</mat-radio-button>
        </mat-radio-group>
        <div>
            <button secondary class="buttonAction" (click)="this.close()">Close</button>
            <button primary class="buttonAction"  (click)="this.export()">Export</button>
        </div>
    </div>
  </div>
  <div class="loadWrapper" *ngIf="isloading">
    <mat-spinner></mat-spinner>
</div>